
#wrapper {
    width: 1090px;
    margin: 0px auto;
    background-color: blue;
    border-top: 2px solid rgb(121, 121, 240) ; 
    padding-bottom: 10px;
}
#wrapper h1 {
    color: rgb(184, 184, 247); 
    background-color: rgb(231, 31, 31);
    padding-left: 20px;
    padding-top: 21px;
    height: 62px;
    margin: 15px;
    border: 5px solid rgb(231, 31, 31);
    border-radius:  25px;
}
nav {
    background-color: rgb(41, 94, 110);
    color: rgb(184, 184, 247); 
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px 15px 0px 15px;
    width:189px;
    border: 5px solid rgb(41, 94, 110);
    border-radius:  25px;
    display: inline-block;
    vertical-align:top;
}
.navlist {
    margin-top: 1px;
    margin-bottom: 1px;   
}
.navtext{
    color: rgb(184, 247, 223); 
}   
.navlist ul {
    margin-left: -24px; 
    padding-left: 2.5em;
    /* list-style-position: inside; */
}    
.navlist li {
     margin-left:-20px;
     padding-left: 0px;
    /*list-style-position: -10px;  
    text-indent: 0em; */
}
 
main {
    display: inline-block;
    vertical-align:top;
    width: 785px;
    margin-left:5px;
    border: 5px solid black;
    border-radius:  25px;
    background-color: black;
    color: white;
    padding: 10px;
}
main ul span {
    color: rgb(72, 39, 180);
}
main ul li p a {
    color: cyan;
}
footer {
    color: white; 
    background-color: gray;
    padding-left: 20px;
    height: 37px;
    margin: 15px;
    border: 5px solid gray;
    border-radius:  15px;
}
footer p {
    margin: 0px;
    vertical-align: center;
    padding-top: 8px;
}
footer p a {
   color: cyan;
}