* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
    margin: 0;
    /* outline: 1px dashed red;
    */
}
.wrapper {
    width: 1009px;
}
    .wrapper h2 {
        background-color: rgb(20, 20, 177);
        color:white;
        padding: 15px;
        margin-top: -15px;
        font-size: 36px;
    }
    .logo {
        width: 99%;
    }
        .logo img{
            width: 50px;
            height: auto;
        }
        .logo h1{
            display:inline-block;
            margin-bottom: 10px;
            vertical-align: bottom;
            font-size: 36px;
        }
            .logo h1 span {
                color: lightblue;
            }
            .blue {
                color: blue;
            }    
            .red {
                color: red;
            }
     #left-panel {
        width: 272px;
        display: inline-block;
        vertical-align: top;
     }
        #left-panel h3 {
            margin: 8px;
        }
            #left-panel button {
                padding: 10px 0;
                margin-bottom: 10px;
                margin-left: 30px;
                border-radius: 10px;
                font-size: 20px;
                color: white;
                width: 152px;
            }
            #blue_btn {
                background-color: blue;
            }
            #orange_btn {
                background-color: orangered;
            }
            #customHr {
                width: 75%;
                font-size: 1px;
                color: rgba(0, 0, 0, 0);
                line-height: 1px;
                text-align: center;
            
                background-color: black;
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: 18px;
            }
            #learn {
                background-image: url('./images/ad_background.png');
                height: 400px;
                padding-top: 20px; 
            }
            #learn img {
                height: 300px;
                width: 150px;
                vertical-align: center;
                margin-left: 42px;
            }
            #learn button {
                padding: 10px 0;
                margin-bottom: 10px;
                margin-left: 30px;
                border-radius: 10px;
                font-size: 20px;
                color: white;
                width: 152px;
                background-color: lightblue;
            }
        #main {
            display: inline-block;
            vertical-align: top;  
            width: 700px;  
            margin-left:20px;
        }
        .mainHdr  {
            border-bottom: 1px solid gray;
            padding-bottom: 10px;
        }
            #home{
                width:20px;
                vertical-align: top;
                display: inline-block;
                margin-top: 4px;
            }
            .mainHdr h3{
                display: inline-block;
                vertical-align: top;
                margin-top: 8px;
            }
            #phone_img { 
                margin-left: 380px;
                margin-top: 18px;
                width: 40px;
            }
            #contact_info {
                display:inline-block;
                vertical-align: top;
            
            }
               #contact_info h3{
                font-size: 32px;
                color: aqua;
                margin-top: 0px;
            
            }
        .main_info {
            padding-top: 10px;
        }
            .main_info h3	{
                color:blue;
                font-size: large;
                font-weight: bold;
            }
            .main_info h4 {
                font-weight: normal;
            }
                .main_info h4 span {
                    font-weight: 900;
                }
            .main_info ul {
                margin-left: 50px;
            }
            .main_info a {
                color: aqua;
                text-decoration: none;
            }
            .main_info	img {
                width: 200px;
                margin: 0px auto;
                display: block;
            }
            .main_info ol {
                margin-left: 50px;
            }
        .big3 {
            margin-top: 15px;
            border: solid 4px blue;
        }
            .big3 img{
                width: 100px;
                display: inline-block;
                padding: 20px;
                vertical-align: top;
            }
            .big3 div	{
                display:inline-block;
                width: 520px;
                padding: 20px 20px 20px 0px;
                vertical-align: top;
            }
            .big3 h3 {
                padding-bottom: 10px;
            }
            .big3 p {
                padding-bottom: 10px;
            }
