.wrapper {
    width: 900px;
    margin: 0px auto;
}
.wrapper div {
    height: 150px;
    width: 125px;  
    margin: 0px; 
    display: inline-block;
    border: 1px solid red;   
}
.wrapper div img {
    height: 150px;
    width: 125px;  
    
}

