/* * {
	outline: 1px dashed red;
} */
.wrapper {
	width: 761px;
	margin: auto;
	background-color: rgb(112, 3, 112);
}
.topbar {
	background-color: white;
	margin: 0px;
	padding: 0px;
	height:48px;
}
.topbar h1 {
	font-style: italic;
	color: black;
	padding-left: 20px;
	padding-top: 2px;
	display: inline-block;
	vertical-align: top;
	margin: 0px;
}
.topbar h3 {
	font-style: bold;
	color:black;
	padding-left: 268px;
	padding-top: 8px;
	display: inline-block;
	vertical-align: top;
	margin: 0px;
}
.info {
	padding: 20px 20px 0px 20px;
}
.info img {
	width: 345px;
	margin: 0px;
	display: inline-block;
	vertical-align: top;
}
.info div {
	width: 345px;
	height:227px;
	margin: 0px;
	display: inline-block;
	background-color: rgb(243, 237, 243);
	vertical-align: top;
	margin-left:20px;
}
.info div h1 {
	font-size: 1.5em;
	background-color: rgb(187, 184, 184);
	margin: 0px;
	padding: 4px 4px 4px 8px;
	color: white;
}
.info div p {
	padding: 0px 8px 0px 8px;
}
.info div a {
	padding: 0px 8px 0px 8px;
}
.projects {
	padding: 20px 20px 5px 20px;
}
.projects :nth-child(3) {
	margin-right:0px;
}
.projPanel {
	vertical-align: top;
	display: inline-block;
	width:222px;
	background-color: rgb(243, 237, 243);
	margin: 0px 20px 20px 0px;
}
	.projPanel h1 {
		font-size: 1.5em;
		background-color: rgb(187, 184, 184);
		margin: 0px;
		padding: 4px 4px 4px 8px;
		color: white;
	}
	.projPanel p {
		height: 169px;
		padding: 4px 8px 0px 8px;
		margin: 0px;
		vertical-align: top;
	}
	.projPanel img{
		width:inherit;
	}
	.projPanel h2 {
		background-color: rgb(187, 184, 184);
		color: white;
		font-size: 1.2em;
		margin: 0px;
		padding-left: 8px;
	}
.techlogos {
	width:212px;
	display: inline-block;
	padding: 4px;
	vertical-align: top;
}
	.techlogos img{
		width: 35px;
		margin: 2px;
		vertical-align: top;
	}
	.techlogos button {
		background-color:rgb(41, 80, 8);
		color:white;
		border-radius: 8px;
		display:block;
		margin: auto;
		margin-top: 4px;
		padding: 4px 4px 4px 4px;
	}
	footer {
		background-color: white;
		height: 52px;
		text-align: center;
	}
	
	footer {
		padding-top: 5px;
	} 
	footer h4 {
		margin: 0px 0px 12px 0px;
	}
	footer img {
		width: 19px;
		vertical-align: top;
		margin-top: 1px;
	}
	footer a {
		font-style: italic;
		vertical-align: top;
	}