/* *{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    outline: 1px dashed red;
} */

/* Indentation of CSS again. Good quality HTML and CSS though */
#wrapper{
    width: 970px;
    margin: 0px auto;
    background-color: blue;
    color: white;
}
    
    #header img{
        width: 375px;
    }
    #header-right{
        display: inline-block;
        margin-left: 240px;
        text-align: center;
        vertical-align: top;
    }
    #header-right a{
        color:#cbad04;
    }
    #header-right span{
        color: black
    }
    #srchbox{
        width: 300px;
        height: 50px;
        border-radius: 8px;
        background-color: #444444;
        padding: 15px 7px 4px 10px;
        margin-top: 5px;
        box-shadow: 2px 2px 2px black;
    }
        #srchbox input{
            text-align: center;
            padding: 10px;
            border: 2px solid silver;
            box-shadow: 1px 1px 1px black;
        }
        #srchbox button{
            color: white;
            text-align: center;
            margin-left: 5px;
            padding: 6px 8px;
            border-radius: 20px;
            background-color: #245176;
            box-shadow: 1px 1px 1px black;
        }
    #navbar{
        width: 800px;
        list-style: none;
        background-color: #3e79ad;
        border-radius: 5px;
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        padding: 10px 25px;
        margin: 20px auto;
        box-shadow: 2px 2px 2px black;
    }
    #navmain{
        text-align: center;
        display: inline-block;
        list-style-type: none;
        margin-left: 100px;
        color: white;
    }
        #navmain li{
            margin: 13px;
        }
            #navmain a{
                color: white;
            }
            #navmain span{
                color: #cbad04;
                font-size: 9px;
                font-weight: bold;
                vertical-align: middle;
                margin-right: 3px;
            }
    #top{
            display: inline-block;
            width: 600px;
            text-align: center;
            vertical-align: top;
            margin-left: 20px;
        }
            #top p{
                font-size: 14px;
                margin-bottom: 15px;
            }
            #top h3{
                font-weight: normal;
                color: #cbad04;
                font-style: italic;
                margin: 5px;
            }
            #top h4{
                font-weight: normal;
                margin: 15px;
            }
    #right{
        background-color: white;
        display: flex;
        justify-content: space-around;
        padding: 15px 40px;
    }
        #right div{
            width: 400px;
            border-top: 4px solid #73a7d5;
            color: black;
            text-align: center;
        }
        #right h4{
            margin: 10px;
        }
        #right p{
            font-size: 14px;
            width: 300px;
            margin: 0px auto 5px auto;
        }
        #right span{
            color: #88b4db;
        }
            #right ul{
                list-style: square;
                margin-left: 75px;
                width: 400px;
            }
        #right li a{
            margin-left: -125px;
            text-decoration: none;
            color: #88b4db;
            font-size: 14px;
        }
    footer{
        text-align: center;
        background: linear-gradient(#245176, #3374ab);
        padding-top: 10px;
        height: 82px;
    }
        footer ul{
            list-style: none;
            margin: 0px auto;
            padding-top: 20px;
        }
        footer li{
            display: inline;
            margin: 20px;
        }
        footer li a{
            color: lightslategray;
        }
        footer p{
            font-size: 10px;
            height: 20px;
        }
